.mainnew
  = form_with(model: @tsumitate, local: true) do |form|
    %h1
      投稿する
    .title
      = form.text_field :name, placeholder: "タイトル" 
    .text
      = form.text_field :text, placeholder: "本文"
    .submit
      = form.submit "投稿"