.mainindex
  -@tsumitates.each do |tsumitate|
    .text
      .time
        =l tsumitate.created_at
      .name
        =tsumitate.name
      .text2
        =tsumitate.text
      .create
        =link_to '削除', "/tsumitates/#{tsumitate.id}", method: :delete
      .destroy
        =link_to "編集", "/tsumitates/#{tsumitate.id}/edit", method: :get