.main
  -@tsumitates.each do |tsumitate|
    =tsumitate.name
    =tsumitate.text
    =link_to '削除', "/tsumitates/#{tsumitate.id}", method: :delete
    =link_to "編集", "/tsumitates/#{tsumitate.id}/edit", method: :get